 body {
    background-color: black;
    text-align: center;
}

.header {
    grid-area: a;
    background-color: #4040e6;
    width: 100%;
}

.section2 {
    align-items: center;
     background-image: url("./fondo\ section.jpg");
    background-size: cover;
    background-position: right;
    
}

.cstrEmbed {
}

.sidebar {
 }

img {
    height: 50vh;
    width: 50vh;
}

.footer {
    grid-area: d;
    background-color: #fa2464;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    width: 100%;
}


